{% extends '/layouts/base.twig' %}

{% block title %}
    {{ parent() }}
    <p>Profile for {{ name }}</p>
{% endblock %}
{% block content %}
    <div class="container">
    <p>Stats for: {{ name }}</p>

    <div class="row expanded">
        <div class="small-12 medium-6 large-3 columns">
            <div class="md-card md-small-chart-card">
                <div class="md-chart chart-mw-kd">
                </div>
                <div class="chart-details">
                    <h3>2562</h3>
                    <p>MegaWalls K/D</p>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="md-card md-small-chart-card">
                <div class="md-chart chart-sg-kd">
                </div>
                <div class="chart-details">
                    <h3>2562</h3>
                    <p>MegaWalls K/D</p>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="md-card md-small-chart-card">
                <div class="md-chart chart-sw-kd">
                </div>
                <div class="chart-details">
                    <h3>2562</h3>
                    <p>MegaWalls K/D</p>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="md-card md-small-chart-card">
                <div class="md-chart chart-ws-kd">
                </div>
                <div class="chart-details">
                    <h3>2562</h3>
                    <p>MegaWalls K/D</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row expanded">
        {# SECOND chart row #}
        <div class="small-12 medium-12 large-4 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">MegaWalls</h4>
                <div class="md-graph graph-mw-coins">
                </div>
                <div class="small-4 medium-4 large-4 columns">
                    <div class="chart-details">
                        <h5 class="text-gray">Coins</h5>
                        <h4 class="text-dark">25k</h4>
                    </div>
                </div>
                <div class="small-4 medium-4 large-4 columns">
                    <div class="chart-details">
                        <h5 class="text-gray">Wins</h5>
                        <h4 class="text-dark">485</h4>
                    </div>
                </div>
                <div class="small-4 medium-4 large-4 columns">
                    <div class="chart-details">
                        <h5 class="text-gray">Lossess</h5>
                        <h4 class="text-dark">214</h4>
                    </div>
                </div>
                <p class="desc-text text-gray">Stats from 14-5-2016 to 15-5-2016</p>
            </div>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">Skywars</h4>
                <div class="md-graph graph-sw-coins">
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <div class="chart-details">
                        <h5 class="text-gray">Coins</h5>
                        <h4 class="text-dark">3k</h4>
                    </div>
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <div class="chart-details">
                        <h5 class="text-gray">Wins</h5>
                        <h4 class="text-dark">223</h4>
                    </div>
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <div class="chart-details">
                        <h5 class="text-gray">Lossess</h5>
                        <h4 class="text-dark">33</h4>
                    </div>
                </div>
                <p class="desc-text text-gray">Stats from 14-5-2016 to 15-5-2016</p>
            </div>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">Survival Games</h4>
                <div class="md-graph graph-sg-coins">
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <div class="chart-details">
                        <h5 class="text-gray">Coins</h5>
                        <h4 class="text-dark">36k</h4>
                    </div>
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <div class="chart-details">
                        <h5 class="text-gray">Wins</h5>
                        <h4 class="text-dark">140</h4>
                    </div>
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <div class="chart-details">
                        <h5 class="text-gray">Lossess</h5>
                        <h4 class="text-dark">367</h4>
                    </div>
                </div>
                <p class="desc-text text-gray">Stats from 14-5-2016 to 15-5-2016</p>
            </div>
        </div>
    </div>
    {# THIRD chart row #}
    <div class="row expanded">

        <div class="small-12 medium-12 large-4 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">SkyWars</h4>
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header active">
                            <p class="title">Dread</p>
                        </div>
                        <div class="collapsible-body hidden">
                            <ul>
                                <li>Kit 9</li>
                                <li>Mining 3</li>
                                <li>Ability 5</li>
                                <li>Skill 7</li>
                                <li>Example 8</li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <div class="collapsible-header active">
                            <p class="title">Dread</p>
                        </div>
                        <div class="collapsible-body hidden">
                            <ul>
                                <li>Kit 9</li>
                                <li>Mining 3</li>
                                <li>Ability 5</li>
                                <li>Skill 7</li>
                                <li>Example 8</li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <div class="collapsible-header active">
                            <p class="title">Dread</p>
                        </div>
                        <div class="collapsible-body hidden">
                            <ul>
                                <li>Kit 9</li>
                                <li>Mining 3</li>
                                <li>Ability 5</li>
                                <li>Skill 7</li>
                                <li>Example 8</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">Survival Games</h4>
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header active">
                            <p class="title">Dread</p>
                        </div>
                        <div class="collapsible-body hidden">
                            <ul>
                                <li>Kit 9</li>
                                <li>Mining 3</li>
                                <li>Ability 5</li>
                                <li>Skill 7</li>
                                <li>Example 8</li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <div class="collapsible-header active">
                            <p class="title">Dread</p>
                        </div>
                        <div class="collapsible-body hidden">
                            <ul>
                                <li>Kit 9</li>
                                <li>Mining 3</li>
                                <li>Ability 5</li>
                                <li>Skill 7</li>
                                <li>Example 8</li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <div class="collapsible-header active">
                            <p class="title">Dread</p>
                        </div>
                        <div class="collapsible-body hidden">
                            <ul>
                                <li>Kit 9</li>
                                <li>Mining 3</li>
                                <li>Ability 5</li>
                                <li>Skill 7</li>
                                <li>Example 8</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">MegaWalls</h4>
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header active">
                            <p class="title">Dread</p>
                        </div>
                        <div class="collapsible-body hidden">
                            <ul>
                                <li>Kit 9</li>
                                <li>Mining 3</li>
                                <li>Ability 5</li>
                                <li>Skill 7</li>
                                <li>Example 8</li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <div class="collapsible-header active">
                            <p class="title">Dread</p>
                        </div>
                        <div class="collapsible-body hidden">
                            <ul>
                                <li>Kit 9</li>
                                <li>Mining 3</li>
                                <li>Ability 5</li>
                                <li>Skill 7</li>
                                <li>Example 8</li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <div class="collapsible-header active">
                            <p class="title">Dread</p>
                        </div>
                        <div class="collapsible-body hidden">
                            <ul>
                                <li>Kit 9</li>
                                <li>Mining 3</li>
                                <li>Ability 5</li>
                                <li>Skill 7</li>
                                <li>Example 8</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row expanded">
        <div class="small-12 medium-6 large-3 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">Smash Heroes</h4>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">Arena Brawl</h4>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">Crazy Walls</h4>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="md-card">
                <h4 class="card-title text-gray">Paintball</h4>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
                <p><b>Wins:</b> 120</p>
            </div>
        </div>
    </div>
{% endblock %}