<?php
include_once __DIR__. '/../../views/layouts/header.php'; ?>

{{ status }}
<h1>Guest Book</h1>
<div class="component">
    <?php
    foreach ($data['notes'] as $aNote) {
        echo '<div class="article">';
        echo '<h1>' . $aNote->name . '</h1>';
        echo '<a href="mailto:' . $aNote->email . '">' . $aNote->email . '</a><br>';
        echo '<a href="' . $aNote->website . '">' . $aNote->website . '</a><br>';
        echo '<p>' . $aNote->message . '</p>';
        echo '</div>';
    }
    ?>
</div>

<?php include_once __DIR__.  '/../../views/layouts/footer.php'; ?>


